<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div>
    <div id="header">
        <h2>SISTEMA Empleado</h2>
    </div>  
    <div id="sideBar">
        @RenderSection("sidebar", required: true)
    </div>
    <div id="menu">
        
        @Html.ActionLink("Home", "Index", "Home")            
        @Html.ActionLink("Empleado", "Index", "Empleado")
         
    </div>
    <div id="content">
        @RenderBody()
    </div>
    <div id="footer">
        <p>Info@Empleado.com</p>
    </div>

    </div>
    
</body>
</html>
